Repository proot-me/proot, pull requests merged in 2021-10, with the labels that each got.

#100 canon: call bindings substitution on '/' component of user path
  src/path/canon.c
Labels: kind/enhancement, status/help-wanted

#288 Fix event handling on newer kernels
  src/tracee/event.c
  src/tracee/event.h
  test/GNUmakefile
  test/ptrace-3.c
  test/test-ptrace-exec-trap.sh
Labels: area/ptrace-emulation, kind/enhancement

#289 Fix and improve docker test skip detection
  test/test-docker.sh
Labels: kind/enhancement, kind/build-system

#287 Enable github action for testing
  .github/workflows/ubuntu.yml
  test/GNUmakefile
Labels: kind/enhancement, kind/build-system

#293 Do not treat libarchive warnings as errors
  src/extension/care/archive.c
  src/extension/care/extract.c
Labels: area/care, kind/enhancement

#296 Install LZOP on CI for CARE archive extraction
  .github/workflows/ubuntu.yml
Labels: area/care, kind/build-system

#294 Fix archive suffix handling
  src/extension/care/archive.c
Labels: area/care, kind/enhancement

#295 Fix extraction of wrapped file
  src/extension/care/extract.c
Labels: area/care, kind/enhancement

#297 Change restart_original_syscall to not use chained syscall
  src/ptrace/wait.c
  src/ptrace/wait.h
  src/syscall/chain.c
  src/syscall/exit.c
  test/GNUmakefile
  test/gdb-ptrace-test-signal.c
  test/test-gdb-ptrace.sh
Labels: area/ptrace-emulation

#298 Fix handling of receiving seccomp after normal ptrace event
  src/tracee/event.c
Labels: area/ptrace-emulation
